@keyframes reactbox-spin {
  0% {
    transform: matrix(-1, 0, 0, 1, 0, 0) rotate(0deg); }
  100% {
    transform: matrix(-1, 0, 0, 1, 0, 0) rotate(-359deg); } }

div.reactbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100001; }
div.reactbox.reactbox--theme-black {
  background: rgba(17, 17, 17, 0.9);
  color: white; }
  div.reactbox.reactbox--theme-black .reactbox-carousel-item .reactbox-error {
    background: #eee; }
  div.reactbox.reactbox--theme-black div.reactbox-loading {
    border-color: #D0D0D0;
    border-left-color: #333; }
  div.reactbox.reactbox--theme-black .reactbox-share-menu {
    background: white; }
    div.reactbox.reactbox--theme-black .reactbox-share-menu:after {
      border-bottom-color: white; }
    div.reactbox.reactbox--theme-black .reactbox-share-menu a:hover {
      background: #eee; }
  div.reactbox.reactbox--theme-black div.reactbox-toolbar .reactbox-toolbar-link, div.reactbox.reactbox--theme-black div.reactbox-toolbar a.reactbox-toolbar-link {
    color: #eee; }
  div.reactbox.reactbox--theme-black div.reactbox-toolbar.reactbox-toolbar-close {
    color: white; }
  div.reactbox.reactbox--theme-black div.reactbox-toolbar:hover {
    color: white; }
  div.reactbox.reactbox--theme-black .reactbox-tooltip {
    color: white;
    background: #333; }
    div.reactbox.reactbox--theme-black .reactbox-tooltip:after {
      border-bottom-color: #333; }
  div.reactbox.reactbox--theme-black .reactbox-next, div.reactbox.reactbox--theme-black .reactbox-prev {
    color: white; }
  div.reactbox.reactbox--theme-black .reactbox-lightbox-item-description {
    color: #444; }
  div.reactbox.reactbox--theme-black .reactbox-description-mini .reactbox-lightbox-item-description {
    color: white; }
  div.reactbox.reactbox--theme-black .reactbox-content-video.reactbox-description-right .reactbox-lightbox-item-description {
    color: white; }
div.reactbox.reactbox--theme-white {
  background: rgba(242, 242, 242, 0.98);
  color: #F2F2F2; }
  div.reactbox.reactbox--theme-white .reactbox-carousel-item .reactbox-error {
    background: #EEE; }
  div.reactbox.reactbox--theme-white div.reactbox-loading {
    border-color: #D0D0D0;
    border-left-color: #ddd; }
  div.reactbox.reactbox--theme-white .reactbox-share-menu {
    background: #2E2E2E; }
    div.reactbox.reactbox--theme-white .reactbox-share-menu:after {
      border-bottom-color: #2E2E2E; }
    div.reactbox.reactbox--theme-white .reactbox-share-menu a:hover {
      background: #444; }
  div.reactbox.reactbox--theme-white div.reactbox-toolbar .reactbox-toolbar-link, div.reactbox.reactbox--theme-white div.reactbox-toolbar a.reactbox-toolbar-link {
    color: #2E2E2E; }
  div.reactbox.reactbox--theme-white div.reactbox-toolbar.reactbox-toolbar-close {
    color: #2E2E2E; }
  div.reactbox.reactbox--theme-white div.reactbox-toolbar:hover {
    color: #111; }
  div.reactbox.reactbox--theme-white .reactbox-description-right .reactbox-lightbox-item-content, div.reactbox.reactbox--theme-white .reactbox-description-bottom .reactbox-lightbox-item-content {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.15); }
  div.reactbox.reactbox--theme-white .reactbox-description-none .reactbox-lightbox-content-image {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.15); }
  div.reactbox.reactbox--theme-white .reactbox-tooltip {
    color: #F2F2F2;
    background: #2E2E2E; }
    div.reactbox.reactbox--theme-white .reactbox-tooltip:after {
      border-bottom-color: #2E2E2E; }
  div.reactbox.reactbox--theme-white .reactbox-next, div.reactbox.reactbox--theme-white .reactbox-prev {
    color: #2E2E2E; }
  div.reactbox.reactbox--theme-white .reactbox-lightbox-item-description,
  div.reactbox.reactbox--theme-white .reactbox-lightbox-item-object.reactbox-lightbox-item-html-object {
    color: #2E2E2E; }
div.reactbox-toolbar {
  top: 0;
  right: 0;
  padding: 0;
  height: 42px;
  position: fixed;
  transition: opacity 0.3s;
  top: 3px;
  right: 15px;
  font-size: 13px;
  text-transform: none;
  z-index: 100005; }
  div.reactbox-toolbar .reactbox-toolbar-link, div.reactbox-toolbar a.reactbox-toolbar-link {
    position: relative;
    float: right;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: none;
    line-height: 1;
    padding: 0;
    margin: 0 0 0 18px;
    background: transparent;
    text-decoration: none;
    line-height: 40px;
    transition: color 0.3s;
    cursor: pointer;
    text-transform: none;
    outline: none; }
    div.reactbox-toolbar .reactbox-toolbar-link.reactbox-disabled, div.reactbox-toolbar a.reactbox-toolbar-link.reactbox-disabled {
      display: none; }
    div.reactbox-toolbar .reactbox-toolbar-link:active, div.reactbox-toolbar a.reactbox-toolbar-link:active {
      box-shadow: none;
      outline: none; }
    div.reactbox-toolbar .reactbox-toolbar-link.reactbox-toolbar-close, div.reactbox-toolbar a.reactbox-toolbar-link.reactbox-toolbar-close {
      opacity: 1;
      font-size: 28px; }
    div.reactbox-toolbar .reactbox-toolbar-link.reactbox-toolbar-fullscreen, div.reactbox-toolbar .reactbox-toolbar-link.reactbox-toolbar-exit-fullscreen, div.reactbox-toolbar a.reactbox-toolbar-link.reactbox-toolbar-fullscreen, div.reactbox-toolbar a.reactbox-toolbar-link.reactbox-toolbar-exit-fullscreen {
      font-size: 28px; }
    div.reactbox-toolbar .reactbox-toolbar-link:hover, div.reactbox-toolbar a.reactbox-toolbar-link:hover {
      outline: none; }
      div.reactbox-toolbar .reactbox-toolbar-link:hover .reactbox-tooltip, div.reactbox-toolbar a.reactbox-toolbar-link:hover .reactbox-tooltip {
        opacity: 1; }

.reactbox-tooltip {
  position: absolute;
  left: 50%;
  bottom: 4px;
  font-size: 12px;
  font-weight: 200;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 18px;
  transform: translate(-50%, 100%);
  opacity: 0;
  border-radius: 2px;
  padding: 3px 9px;
  transition: opacity 0.3s;
  white-space: nowrap; }
  .reactbox-tooltip:after {
    display: block;
    content: '';
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: -3px; }
.reactbox-share-menu {
  position: absolute;
  top: 100%;
  right: -40px;
  z-index: 6;
  width: 200px;
  text-align: left;
  border-radius: 3px;
  transition: opacity 0.3s; }
  .reactbox-share-menu:after {
    position: absolute;
    top: -6px;
    right: 43px;
    display: block;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom-width: 6px;
    border-bottom-style: solid; }
  .reactbox-share-menu a {
    display: block;
    line-height: 24px;
    font-size: 13px;
    padding: 3px 18px 3px 9px;
    text-decoration: none;
    color: #444;
    transition: background-color 0.3s; }
    .reactbox-share-menu a i {
      font-size: 16px;
      margin-right: 0.75em; }

.reactbox-share-menu {
  display: none;
  opacity: 0; }
  .reactbox-share-menu svg {
    width: 16px;
    height: 16px;
    margin-right: 0.75em;
    position: relative;
    top: -2px; }
  .reactbox-share-menu--open {
    opacity: 1;
    display: block; }
    .reactbox-share-menu--open .reactbox-share-overlay {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: black;
      opacity: 0.3;
      cursor: default;
      z-index: 5; }
    .reactbox-share-menu--open .reactbox-share-menu {
      display: block; }
      .reactbox-share-menu--open .reactbox-share-menu.reactbox-active {
        opacity: 1; }
.reactbox-lightbox {
  position: absolute;
  z-index: 100002;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px; }

.reactbox-next, .reactbox-prev {
  position: fixed;
  font-size: 54px;
  cursor: pointer;
  z-index: 5;
  color: white;
  opacity: 0.6;
  transition: opacity 0.3s;
  background: transparent;
  user-select: none; }
  .reactbox-next:hover, .reactbox-prev:hover {
    opacity: 1; }
  .reactbox-next.reactbox-disabled, .reactbox-prev.reactbox-disabled {
    opacity: 0.15;
    cursor: default; }
    .reactbox-next.reactbox-disabled:hover, .reactbox-prev.reactbox-disabled:hover {
      opacity: 0.15; }
  .reactbox-next:active, .reactbox-next:focus, .reactbox-prev:active, .reactbox-prev:focus {
    outline: none;
    background: transparent; }
  .reactbox-next i, .reactbox-prev i {
    position: absolute;
    display: block; }

.reactbox-next, .reactbox-prev {
  top: 54px;
  bottom: 0px;
  width: 60px;
  z-index: 2;
  margin-top: 12px; }
  .reactbox-next svg, .reactbox-prev svg {
    margin: -70px 0 0 0;
    padding: 15px 0;
    top: 50%;
    position: absolute; }
    .reactbox-next svg:before, .reactbox-prev svg:before {
      margin: 0; }

.reactbox-has-carousel .reactbox-next, .reactbox-has-carousel .reactbox-prev {
  bottom: 130px; }

.reactbox-prev {
  left: 0; }
  .reactbox-prev svg {
    left: -16px; }

.reactbox-next {
  right: 0; }
  .reactbox-next svg {
    right: -16px; }

@media screen and (orientation: portrait) {
  .reactbox .reactbox-next, .reactbox .reactbox-prev {
    font-size: 20px;
    width: 30px;
    bottom: auto;
    height: 30px;
    float: left;
    position: static; }
    .reactbox .reactbox-next svg, .reactbox .reactbox-prev svg {
      margin: 0;
      padding: 0;
      width: 30px;
      height: 30px;
      position: static; } }
.reactbox-lightbox-item {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 54px; }
  .reactbox-lightbox-item.reactbox-active {
    z-index: 2; }
  .reactbox-lightbox-item.reactbox-animated {
    transition: transform 0.3s; }
  .reactbox-lightbox-item .reactbox-lightbox-item-content {
    position: absolute;
    top: 54px;
    left: 72px;
    right: 72px;
    bottom: 36px;
    transition: opacity 0.3s;
    opacity: 0; }
  .reactbox-lightbox-item.reactbox-loaded .reactbox-lightbox-item-content {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reactbox-lightbox-item .reactbox-lightbox-item-content {
      left: 24px;
      right: 24px;
      bottom: 24px; } }
  .reactbox-lightbox-item.reactbox-description-none .reactbox-lightbox-item-object {
    position: absolute;
    bottom: 0px;
    top: 0;
    left: 0;
    right: 0; }
  .reactbox-lightbox-item.reactbox-description-mini .reactbox-lightbox-item-object {
    position: absolute;
    bottom: 50px;
    top: 0;
    left: 0;
    right: 0; }
  .reactbox-lightbox-item.reactbox-description-mini .reactbox-lightbox-item-content {
    bottom: 24px; }
  .reactbox-lightbox-item.reactbox-description-bottom {
    width: 100%;
    height: 100%; }
    .reactbox-lightbox-item.reactbox-description-bottom .reactbox-lightbox-item-content {
      width: 85%;
      max-width: 860px;
      margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .reactbox-lightbox-item.reactbox-description-bottom .reactbox-lightbox-item-content {
        margin-left: 6px;
        margin-right: 6px;
        max-width: none;
        width: auto; } }
  .reactbox-lightbox-item.reactbox-description-right .reactbox-lightbox-item-content {
    display: flex; }
  .reactbox-lightbox-item.reactbox-description-right .reactbox-lightbox-item-object {
    flex: 1; }
  .reactbox-lightbox-item.reactbox-description-right .reactbox-lightbox-item-description {
    flex: 1; }

.reactbox-lightbox-item.reactbox-no-description .reactbox-lightbox-item-content-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: none; }

.reactbox-lightbox-item.reactbox-no-description .reactbox-item-object {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

.reactbox-lightbox-item.reactbox-description-mini .reactbox-lightbox-item-content-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: none; }

@media only screen and (min-width: 1024px) {
  .reactbox-lightbox-item.reactbox-description-right .reactbox-lightbox-item-content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    max-width: 1200px; }
  .reactbox-lightbox-item.reactbox-description-right .reactbox-item-object {
    position: static;
    float: none;
    margin-right: 55%; } }

@media screen and (max-width: 1024px) {
  .reactbox-lightbox-item.reactbox-description-right {
    overflow: scroll; }
    .reactbox-lightbox-item.reactbox-description-right .reactbox-lightbox-item-content-wrapper {
      max-height: 100%; } }

.reactbox-lightbox-item.reactbox-description-bottom {
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }
  .reactbox-lightbox-item.reactbox-description-bottom .reactbox-lightbox-item-content-wrapper {
    max-height: 100%; }
  .reactbox-lightbox-item.reactbox-description-bottom .reactbox-item-description, .reactbox-lightbox-item.reactbox-description-bottom .reactbox-item-object {
    width: 650px;
    margin: 0 auto;
    max-width: 100%; }
  @media only screen and (max-width: 639px) and (orientation: portrait) {
    .reactbox-lightbox-item.reactbox-description-bottom {
      width: 100%;
      bottom: 0; }
      .reactbox-lightbox-item.reactbox-description-bottom .reactbox-item-description, .reactbox-lightbox-item.reactbox-description-bottom .reactbox-item-object, .reactbox-lightbox-item.reactbox-description-bottom .reactbox-lightbox-item-content-wrapper {
        width: 100%; } }
  .reactbox-lightbox-item.reactbox-description-bottom .reactbox-item-object {
    overflow: hidden;
    margin: 0 auto; }

@media only screen and (max-width: 639px) and (orientation: portrait) {
  .reactbox-lightbox-item.reactbox-description-right, .reactbox-lightbox-item.reactbox-description-bottom {
    position: fixed;
    top: 42px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    width: auto;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }
    .reactbox-lightbox-item.reactbox-description-right .reactbox-item-object .reactbox-image-content img, .reactbox-lightbox-item.reactbox-description-bottom .reactbox-item-object .reactbox-image-content img {
      display: block;
      width: 100%; } }

.reactbox-has-carousel .reactbox-lightbox-item-content,
.reactbox-has-carousel .reactbox-description-mini .reactbox-lightbox-item-content {
  bottom: 24px;
  bottom: 130px; }

.reactbox-has-carousel .reactbox-description-bottom {
  position: fixed;
  overflow: scroll; }

.reactbox-description-bottom .reactbox-lightbox-item-content {
  padding-bottom: 36px;
  position: relative;
  right: auto;
  left: auto;
  bottom: auto; }

.reactbox-has-carousel .reactbox-description-bottom .reactbox-lightbox-item-content {
  padding: 0px 0 130px 0; }

@media only screen and (min-width: 1024px) {
  .reactbox-lightbox-item {
    left: 0;
    right: 0;
    bottom: 45px;
    top: 45px; } }

@media only screen and (min-width: 1024px) {
  .reactbox-has-carousel .reactbox-lightbox-item {
    bottom: 130px; } }
@keyframes reactbox-circle {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

div.reactbox-loading {
  position: absolute;
  display: block;
  border-width: 6px;
  border-style: solid;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  height: 42px;
  width: 42px;
  margin-top: -21px;
  margin-left: -21px;
  animation: reactbox-circle infinite .75s linear; }
.reactbox-description-mini .reactbox-lightbox-item-description {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 0 0 0;
  box-sizing: content-box;
  line-height: 18px;
  margin: 0 auto;
  font-family: myriad-pro, 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 20px;
  height: 42px;
  overflow-y: hidden;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-weight: 200;
  font-size: 11px;
  color: #bbb;
  text-align: center; }
  .reactbox-description-mini .reactbox-lightbox-item-description h2, .reactbox-description-mini .reactbox-lightbox-item-description h3, .reactbox-description-mini .reactbox-lightbox-item-description h4, .reactbox-description-mini .reactbox-lightbox-item-description h5 {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    font-family: myriad-pro, 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ccc; }
  .reactbox-description-mini .reactbox-lightbox-item-description a {
    display: inline;
    color: inherit;
    text-decoration: none;
    font-weight: bold; }

.reactbox-description-bottom .reactbox-lightbox-item-description, .reactbox-description-bottom.reactbox-lightbox-item-object, .reactbox-description-right .reactbox-lightbox-item-description, .reactbox-description-right.reactbox-lightbox-item-object,
.reactbox-lightbox-item-html-object .reactbox-lightbox-item-description,
.reactbox-lightbox-item-html-object.reactbox-lightbox-item-object {
  background: white; }

.reactbox-description-bottom .reactbox-lightbox-item-description-inner, .reactbox-description-bottom.reactbox-lightbox-item-object, .reactbox-description-right .reactbox-lightbox-item-description-inner, .reactbox-description-right.reactbox-lightbox-item-object,
.reactbox-lightbox-item-html-object .reactbox-lightbox-item-description-inner,
.reactbox-lightbox-item-html-object.reactbox-lightbox-item-object {
  padding: 30px 36px; }

.reactbox-description-bottom h2, .reactbox-description-right h2,
.reactbox-lightbox-item-html-object h2 {
  color: #000;
  font-weight: 200;
  font-size: 24px;
  padding-bottom: 12px;
  margin: 0; }

.reactbox-description-bottom h3, .reactbox-description-right h3,
.reactbox-lightbox-item-html-object h3 {
  color: #888;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 13px; }

.reactbox-description-bottom p, .reactbox-description-right p,
.reactbox-lightbox-item-html-object p {
  margin-bottom: 18px;
  line-height: 22px;
  font-size: 14px;
  padding: 0;
  font-weight: 200; }

@media only screen and (min-width: 1024px) {
  .reactbox-description-bottom, .reactbox-description-right,
  .reactbox-lightbox-item-html-object {
    font-size: 16px;
    line-height: 28px; }
    .reactbox-description-bottom h2, .reactbox-description-right h2,
    .reactbox-lightbox-item-html-object h2 {
      font-size: 32px;
      line-height: 40px;
      padding-bottom: 8px; }
    .reactbox-description-bottom h3, .reactbox-description-right h3,
    .reactbox-lightbox-item-html-object h3 {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 12px; }
    .reactbox-description-bottom p, .reactbox-description-right p,
    .reactbox-lightbox-item-html-object p {
      margin-bottom: 18px; } }

.reactbox-description-right .reactbox-lightbox-item-description.reactbox-description-light {
  background: transparent;
  color: white; }
  .reactbox-description-right .reactbox-lightbox-item-description.reactbox-description-light h1, .reactbox-description-right .reactbox-lightbox-item-description.reactbox-description-light h2, .reactbox-description-right .reactbox-lightbox-item-description.reactbox-description-light h3, .reactbox-description-right .reactbox-lightbox-item-description.reactbox-description-light h4, .reactbox-description-right .reactbox-lightbox-item-description.reactbox-description-light a, .reactbox-description-right .reactbox-lightbox-item-description.reactbox-description-light p {
    color: white; }
  .reactbox-description-right .reactbox-lightbox-item-description.reactbox-description-light .reactbox-lightbox-item-description-inner {
    padding-top: 0; }
  .reactbox-description-right .reactbox-lightbox-item-description.reactbox-description-light .scrollbar-container.vertical .scrollbar {
    background: rgba(255, 255, 255, 0.3) !important; }
div.reactbox-object-iframe iframe {
  border: none !important;
  position: absolute;
  outline: none; }

.reactbox-description-bottom .reactbox-object-iframe {
  height: 300px; }
.reactbox-object-image img {
  display: block;
  position: absolute;
  max-width: none;
  max-height: none; }

.reactbox-description-bottom .reactbox-object-image {
  height: 350px;
  overflow: hidden;
  position: relative; }
  .reactbox-description-bottom .reactbox-object-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.reactbox-description-right .reactbox-object-image {
  position: relative;
  overflow: hidden; }
  .reactbox-description-right .reactbox-object-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.reactbox-description-bottom .reactbox-lightbox-item-object.reactbox-object-iframe.reactbox-object-video {
  position: relative;
  top: 0;
  height: auto; }
  .reactbox-description-bottom .reactbox-lightbox-item-object.reactbox-object-iframe.reactbox-object-video iframe {
    position: static;
    display: block;
    height: 483px; }

.reactbox-lightbox-item-content .video-js .vjs-big-play-button {
  border-radius: 1.5em;
  width: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  border: none; }

.video-js-wrapper {
  position: absolute; }
  .video-js-wrapper video {
    width: 100%;
    height: 100%; }

.reactbox-object-video iframe {
  left: 0; }
.reactbox-lightbox-item-ajax-object {
  overflow: scroll;
  background: white; }
.reactbox-lightbox-item-object.reactbox-lightbox-item-html-object {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: scroll; }

.reactbox-description-bottom.reactbox-lightbox-item.reactbox-content-html .reactbox-lightbox-item-object.reactbox-lightbox-item-html-object, .reactbox-description-mini.reactbox-lightbox-item.reactbox-content-html .reactbox-lightbox-item-object.reactbox-lightbox-item-html-object, .reactbox-description-none.reactbox-lightbox-item.reactbox-content-html .reactbox-lightbox-item-object.reactbox-lightbox-item-html-object {
  padding: 0;
  background: transparent; }
.reactbox-carousel {
  position: fixed;
  z-index: 100003;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px 0;
  height: 100px; }
  @media only screen and (min-width: 1024px) {
    .reactbox-carousel {
      display: block; } }
  .reactbox-carousel .reactbox-carousel-item {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
    cursor: pointer;
    height: 100px; }
    .reactbox-carousel .reactbox-carousel-item.reactbox-loaded {
      opacity: 1; }
    .reactbox-carousel .reactbox-carousel-item.reactbox-animated {
      transition: all 0.3s; }
    .reactbox-carousel .reactbox-carousel-item img {
      display: block;
      height: 100%;
      opacity: 0.75;
      transition: opacity 0.3s;
      border-radius: 2px; }
    .reactbox-carousel .reactbox-carousel-item:hover img {
      opacity: 1; }
    .reactbox-carousel .reactbox-carousel-item.reactbox-active {
      cursor: default; }
      .reactbox-carousel .reactbox-carousel-item.reactbox-active img {
        opacity: 1; }
    .reactbox-carousel .reactbox-carousel-item.reactbox-error {
      width: 100px;
      text-align: center;
      line-height: 100px; }
      .reactbox-carousel .reactbox-carousel-item.reactbox-error i {
        display: block;
        font-size: 70px; }
